<div class="about_us">
  <div class="header">
    <h1>What We Do ?</h1>

    <p>
      Everything we do starts with you: The products we make, our customer
      service, the brands we partner with and the content we create. Ultimately
      you call the shots around here and that’s the way we like it.
    </p>
  </div>
  <div class="header">
    <p style="color: black">
      In 2008 we created SK Enterprises because we loved laughing, connecting
      and designing things that made people happy. Over a decade later a lot has
      changed, but why we do what we do and who we are hasn’t. At our core we
      are and have always been optimists who aspire to be better than great and
      less than perfect and firmly believe that being upside down is much more
      fun than being right side up.
    </p>
  </div>
  <div style="margin-top: 35px">
    <h4>Address:</h4>
    <p>S 52, Alkapuri, Andheri East, Mumbai, Maharastra. (INDIA)</p>
    <br />
    <h4>Address:</h4>
    <p>35553 KENAI SPUR HIGHWAY, SOLDOTNA, KENAI PENINSULA, 99669 (USA)</p>
  </div>
</div>
