<div class="cart_page">
  <div *ngIf="cartList.length !== 0" class="left_section scroll">
    <div *ngFor="let item of cartList; let i = index" class="single_product">
      <div>
        <h5>{{ item.name }}</h5>
        <img src="{{ item.image }}" alt="" />
        <p></p>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <span
          (click)="removeItem(i)"
          style="font-size: 28px; color: red; cursor: pointer"
        >
          <i class="fas fa-trash-alt"></i>
        </span>
        <br />
        <strong style="font-size: 20px">Price : $ {{ item.price }}</strong>
      </div>
    </div>
  </div>

  <div id="total_box" *ngIf="grandTotal">
    <h3 style="color: blue">Total : {{ grandTotal }}</h3>

    <button class="btn btn-success">Checkout</button>
  </div>
</div>
